<launch>
    <include file="$(find aktrack_ros_comm)/launch/comm_nodes.launch"/>
    <include file="$(find aktrack_ros_comm_decode)/launch/comm_decode_nodes.launch"/>
    <include file="$(find aktrack_ros_dispatcher)/launch/dispatcher_nodes.launch"/>
    <include file="$(find aktrack_ros_kinematics)/launch/kinematics_nodes.launch"/>
</launch>